body {
    background-color: #dfe86d;
    font-family: Chalkduster, fantasy;
    color: #00008b;
    background-image: url('https://wallpaperaccess.com/full/2774021.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: center;
    height: 1400px;
    background-blend-mode: lighten;
    }

  h1 {
    background-color: lightblue;
    text-align: center;
  }

  h2 {
    background-color: lightblue;
    text-align: left;
    margin: auto;
    width: 80%;
  }
  
  div {
    text-align: center;
  }

  ul {
    list-style-position: inside;
    list-style-type: square;
  }

  hr {
    color: #00008b;
    border: 1px dashed;
    width: 90%;
    text-align: center;
  }

  
  p {
    background-color: yellow;
  }

  #allNotesContainer {
      background-color: lightblue;
      text-align: left;
      margin: auto;
  }

/*input[type=textarea]*/
textarea{
    font-family: Chalkduster, fantasy;
    background-color: lightblue;
    border-width: 2.5px;
    border-style: inset;
    color: #00008b;
    width: 50%;
    height: 200px;
    padding: 12px 20px;
    border-color: #00008b;
    border-radius: 30px;
    outline: none;
    overflow: auto;
    rows: 8;
  }

a:hover{
  background-color: lightblue;
  color: black;
}

#submit:hover{
  box-shadow: 0 12px 16px 0 rgba(89, 70, 201, 0.24),0 17px 50px 0 rgba(73, 24, 129, 0.19);  
}

#submit{
  font-family: Chalkduster, fantasy;
  font-size: 26px;
  background-color: #00008b;
  color: lightblue;
}